@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Reddit+Mono:wght@200..900&family=Tenor+Sans&display=swap');

.recipe-item {
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures the image and box-shadow respect the border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  padding: 0px 10px;
  background-color: #80b7ff; /* Background color for the item */
  margin: 16px; /* Spacing around each item */
  text-align: center; /* Centering the text */
}

.recipe-item h2 {
  color: #524166; /* Dark grey text */
  margin-top: 0.5em; /* Spacing from the top of the container */
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
}

.recipe-item img {
  width: 90%; /* Image takes full width of the container */
  height: 150px;
  margin-bottom: 0.5em; /* Spacing between image and description text */
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.recipe-item p {
  color: #685b75; /* Lighter grey for the description */
  font-size: 0.9em; /* Smaller font size for the description */
  margin: 0 1em 1em; /* Spacing around the description text */
  font-family: "Tenor Sans", sans-serif;
}
